beautifulsoup4==4.9.3
bs4==0.0.1
lxml==4.6.5
numpy~=1.19.2
scikit-learn==0.23.2
scipy==1.5.2
treelib==1.6.1
xgboost==1.2.1

matplotlib~=3.3.2
tqdm~=4.54.1
pillow~=8.1.1
pdf2image~=1.14.0
ete3~=3.1.2
pandas~=1.1.3